[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pyspark = "==3.5.1"
delta-spark = "==3.2.0"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"
